<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tech.story.dao.CategoryDAO">
	<insert id="add_cate" parameterType="CategoryDTO">
		INSERT INTO ST_CATEGORY VALUES
		(
			(SELECT 'CT' || LPAD(NVL(SUBSTR(MAX(CATE_CD),3)+1,1),10,'0') FROM ST_CATEGORY),
			(SELECT STORY_CD FROM ST_STORY WHERE MEMBER_CD = #{member_cd}),
			#{cate_nm},
			#{cate_lv},
			#{up_cate_cd}
		)
	</insert>
	<select id="cate_list" parameterType="String" resultType="CategoryDTO">
		SELECT CATE_CD, STORY_CD,
		LPAD(' ',2*(LEVEL-1)) || CATE_NM AS CATE_NM,
		CATE_LV, UP_CATE_CD FROM ST_CATEGORY
		WHERE
		STORY_CD = #{story_cd}
		START WITH
		UP_CATE_CD
		IS NULL
		CONNECT BY
		PRIOR
		CATE_CD = UP_CATE_CD
	</select>
	<delete id="delete_cate" parameterType="String">
		DELETE FROM ST_CATEGORY WHERE CATE_CE = #{cate_cd}
	</delete>
	<update id="modify_cate" parameterType="String">
		UPDATE ST_CATE SET CATE_NM = #{cate_nm}
	</update>
</mapper>