<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tech.story.dao.CodeDAO">
	<select id="code_list" resultType="CodeDTO">
		SELECT CODE_CD, LPAD(' ',2*(LEVEL-1)) || CODE_NAME AS CODE_NAME, UP_CODE, CODE_LEVEL
		FROM ST_CODE
		START WITH
		UP_CODE IS NULL
		CONNECT BY
		PRIOR CODE_CD = UP_CODE
	</select>
	<select id="code_info" parameterType="String" resultType="CodeDTO">
		SELECT * FROM ST_CODE WHERE CODE_CD = #{code_cd}
	</select>
	<insert id="add_code" parameterType="CodeDTO">
		INSERT INTO ST_CODE VALUES
		(
			(SELECT 'C' || LPAD(NVL(SUBSTR(MAX(CODE_CD),2)+1,1),4,'0') FROM ST_CODE),
			#{code_name},
			#{up_code},
			#{code_level}
		)
	</insert>
	<select id="code_list_kind" parameterType="String" resultType="codeDTO">
		SELECT * FROM ST_CODE WHERE UP_CODE=#{up_code}
	</select>
</mapper>