<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
    
<configuration>
	<typeAliases>
		<typeAlias type="com.tech.story.dto.MemberDTO" alias="MemberDTO"></typeAlias>
		<typeAlias type="com.tech.story.dto.CodeDTO" alias="CodeDTO"></typeAlias>
		<typeAlias type="com.tech.story.dto.StoryDTO" alias="StoryDTO"></typeAlias>
		<typeAlias type="com.tech.story.dto.StoryDetailDTO" alias="StoryDetailDTO"></typeAlias>
		<typeAlias type="com.tech.story.dto.InterestDTO" alias="InterestDTO"></typeAlias>
		
	</typeAliases>
</configuration>